<h3>Всего @ViewBag.News.Count новостей:</h3>

@foreach (News news in ViewBag.News)
{
    <p>@news</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
