@model HumanCreateViewModel
@{
    ViewData["Title"] = "Create human";
}

<form asp-controller="Human" asp-action="Create" method="post">
    <span asp-validation-for="Human.FirstName"></span><br>
    <label asp-for="Human.FirstName"></label><br>
    <input asp-for="Human.FirstName" type="text" /><br>

    <span asp-validation-for="Human.LastName"></span><br>
    <label asp-for="Human.LastName"></label><br>
    <input asp-for="Human.LastName" type="text" /><br>

    <span asp-validation-for="Human.Age"></span><br>
    <label asp-for="Human.Age"></label><br>
    <input asp-for="Human.Age" type="number" /><br><br>

    <span asp-validation-for="Human.IsSick"></span><br>
    <label asp-for="Human.IsSick"></label><br>
    <input asp-for="Human.IsSick" type="checkbox" /><br>

    <label asp-for="Human.Gender"></label><br>
    <select asp-for="Human.Gender" asp-items="Html.GetEnumSelectList<Gender>()" type="text"></select><br>

    <label>Country name</label><br>
    <select asp-for="Human.CountryId">
        @foreach (var country in Model.Countries)
        {
            <option value="@country.Id">@country.Name</option>
        }
    </select><br>

    <button type="submit">Create human</button>
</form>